body {
  background-color: white;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left: 30%;
  width: auto;
  text-align: left;
}

ul, li {
  padding-left: 2px;
}

li {
  padding-top: 0;
  padding-bottom: 0;
}

input {
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  &:focus {
    outline-color: red;
  }
}

#topContainer {
  z-index: 998;
}

#bottomContainer {
  z-index: 999;
  top-margin: -7em;
}

#quote {
  text-decoration: italic;
  font-size: 10px;
  margin-top: 0.25em;
}

#imgContainer {
  text-align: center;
  max-width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#sushiPic {
  width: 60%;
  height: auto;
  margin-bottom: 0.25em;
}

#diner {
  width: 50%;
  height: 2em;
  text-align: center;
  font-size: 1em;
  border: 1px solid red;
  border-radius: 4px;
}

#dinerName {
  text-align: center;
  margin-left: -5%;
}

.subtotalDiner {
  text-decoration: overline;
}

#dinerName, .remove, .delete, .totalDiner {
  font-weight: bold;
}

.remove, .delete {
  color: red;
}

#selectDish {

}

span {
  padding-right: 2px;
  &:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
  }
}

h4 {
  text-decoration: underline;
  margin-bottom: 0;
}

#calcTT {
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
}
