body {
  background-color: orange;
}

ul, li {
  padding-left: 2px;
}

#dinerName, .remove, .delete {
  font-weight: bold;
}

#dinerName, #dinerPreview {
  list-style-type: none;
}

#dinerPreview, #totalBill, #dinerBreakdown {
  padding-top: 1em;
}

.remove, .delete {
  color: red;
}

span {
  padding-right: 2px;
  &:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
  }
}
