body {
  background-color: forestgreen;
}

#dinerName, #delete {
  font-weight: bold;
}

#dinerPreview {
  list-style-type: none;
}

#dinerPreview, #totalBill, #dinerBreakdown {
  padding-top: 1em;
}

span:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
}
